.container {
  display: flex;
  flex-flow: row nowrap;
}

.wrapper {
  background-color: grey;
  border: 2px solid black;
  margin: 0px 1px 0px 0px;
  width: 700px;
  height: 700px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

#box1 {
  background-color: green;
  border: 2px solid black;
  width: 650px;
  height: 650px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

#teezers {
  background-color: lightgreen;
  border: 1px dotted black;
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.wrapper2 {
  background-color: gray;
  border: 2px solid black;
  margin: 0px 0px 0px 1px;
  width: 700px;
  height: 700px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

#box2 {
  background-color: green;
  border: 2px solid black;
  width: 650px;
  height: 650px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

#tres {
  background-color: lightgreen;
  border: 1px dotted black;
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.drink-container {
  background-color: blue;
  border: 2px solid black;
  margin: 1px 0px 0px 0px;
  width: 1407px;
  height: 500px;
  display: flex;
  justify-content: center; 
}

#drinks {
  display: flex;
  flex-flow: column wrap;
  
}

#drink-menu {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

#drink-types {
  display: flex;
  flex-flow: row nowrap;
  align-items: space-between;
}

#beer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
}

 #cocktails {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column; 
 }

